<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'docindex.html' %}
{% block body %}
<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<th scope="col"><a href="Viewprofile">View profile</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="manageschedule"><strong> Manage schedule</strong></a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td> <div align="center"><a href="viewbooking"><strong>View booking</strong></a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="chatwin"><strong>Chat</strong></a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="viewdcrev"><strong>View review</strong></a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="/"><strong>Logout</strong></a></div></td>-->
    <!--</tr>-->
  <!--</table>-->
<!--</form>-->
</body>
{% endblock %}
<!--</html>-->
