<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'adminindex.html' %}
{% block body %}
<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="edit_doc1#about">
  <table width="200" border="1">
    <tr>
      <td>First Name </td>
      <td><label>
        <input type="text" name="textfield" value="{{val['fname']}}" required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <td>Last name </td>
      <td><label>
        <input type="text" name="textfield2" value="{{val['lname']}}" required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><label>
        <input name="radiobutton" type="radio" value="male" checked {% if val['gender']=="male" %} checked {% endif %}/>
        male</label>
      <label>
      <input name="radiobutton" type="radio" value="female" {% if val['gender']=="female" %} checked {% endif %} />
      female</label></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label>
        <textarea name="textarea2" value="">{{val['place']}}</textarea>
      </label></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><label>
        <input type="text" name="textfield3" value="{{val['post']}}" />
      </label></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><label>
        <input type="text" name="textfield4" value="{{val['pin']}}" required pattern="[0-9]{6}"/>
      </label></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><label>
        <input type="text" name="textfield5" value="{{val['email']}}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/>
      </label></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><label>
        <input type="text" name="textfield6" value="{{val['phone']}}" required pattern="[6789][0-9]{9}"/>
      </label></td>
    </tr>
    <tr>
      <td>Qualification</td>
      <td><label>
        <textarea name="textarea3" value="">{{val['qualification']}}</textarea>
      </label></td>
    </tr>
    <tr>
      <td>Experience</td>
      <td><label>
        <textarea name="textarea4" value="">{{val['experience']}}</textarea>
      </label></td>
    </tr>
    <tr ><td colspan="2">
        <input type="submit" name="Submit" value="Update" />
		</td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
