{% extends 'docindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-dark " width="200" border="1">
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Review</th>
      <th scope="col">Rating</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['fname']}} {{i['lname']}}</td>
      <td>{{i['review']}}</td>
      <td>{{i['rate']}}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
