<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form2" name="form2" method="post" action="updoc">
<table width="200" border="1">
  <tr>
    <td>First name </td>
    <td>
      <label>
      <input type="text" name="textfield" value="{{val['fname']}}"/>
        </label>
    </td>
  </tr>
  <tr>
    <td>Last name </td>
    <td>
      <label>
        <input type="text" name="textfield2" value="{{val['lname']}}"/>
        </label>
        </td>
  </tr>
  <tr>
    <td>Gender</td>
    <td>
      <label>
        <input name="radiobutton" type="radio" value="male" {% if val['gender']=="male" %} checked {% endif %}/>
        male</label>
      <label>
      <input name="radiobutton" type="radio" value="female" {% if val['gender']=="female" %} checked {% endif %} />
      female</label>
        </td>
  </tr>
  <tr>
    <td>Place</td>
    <td>
      <label>
        <textarea name="textarea2"> {{val['place']}} </textarea>
        </label>
        </td>
  </tr>
  <tr>
    <td>Post</td>
    <td>
      <label>
        <input type="text" name="textfield3" value="{{val['post']}}"/>
        </label>

    </td>
  </tr>
  <tr>
    <td>Pin</td>
    <td>
      <label>
        <input type="text" name="textfield4" value="{{val['pin']}}"/>
        </label>

    </td>
  </tr>
  <tr>
    <td>Email</td>
    <td>
      <label>
        <input type="text" name="textfield5" value="{{val['email']}}" />
        </label>

    </td>
  </tr>
  <tr>
    <td>Phone</td>
    <td>
      <label>
        <input type="text" name="textfield6"value="{{val['phone']}}" />
        </label>

    </td>
  </tr>
  <tr>
    <td>Qualification</td>
    <td>
      <label>
        <textarea name="textarea3">{{val['qualification']}}</textarea>
        </label>

    </td>
  </tr>
  <tr>
    <td>Experience</td>
    <td>
      <label>
        <textarea name="textarea4">{{val['experience']}}</textarea>
        </label>

    </td>
  </tr>
  <tr>
    <td colspan="2">
      <label>
	  <center>
      <input type="submit" name="Submit" value="update" />
	  </center>
      </label>
       </td>
  </tr>
</table>
</form>
</body>
</html>
